<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>Test Suite</title>
    <link rel="stylesheet" href="https://code.jquery.com/qunit/qunit-2.11.2.css">
  </head>
  <body>
    <div id="qunit"></div>
    <div id="qunit-fixture"></div>
    <script src="https://code.jquery.com/qunit/qunit-2.11.2.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/blanket.js/1.1.4/blanket.min.js" integrity="sha512-5CwUawc3H8Z5TNEujyD0/KkUPauSndyPVXDXr/8gN1e5PWlDRRqF11W3SXo+89XTSDw6PFlRxNObflm396/fdw==" crossorigin="anonymous"></script>
    <script>
  var a=1;
  QUnit.module('add', function() {
    QUnit.test('should equals 1', function(assert) {
      assert.equal(a, 1, '1');
    });
  });
</script>
    
</body>
</html>
